:root {
    --primary-color: #000028; /* Blue color */
    --header-height: 65px;
    --transition-speed: 0.5s; /* Transition speed for smoother transitions */
    --background-color: #ffffff; /* White background */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    overflow: hidden; /* Prevent scrolling during transitions */
    height: 100vh; /* Ensure body takes full viewport height */
    width: 100vw; /* Ensure body takes full viewport width */
}

.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
    transform: translateY(-100%); /* Start off-screen */
}

.main-nav.scrolled {
    background-color: var(--primary-color);
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    padding-left: 2vw; /* 2% of horizontal viewport for left padding */
    padding-top: 3vw; /* 3% of horizontal viewport for top padding */
}

.logo img {
    height: 40px;
}

.homepage {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute; /* Position it absolutely to overlay the body */
    top: 0; /* Start at the top */
    transform: translateY(100vh); /* Start below the viewport */
    opacity: 0; /* Start fully transparent */
}

.homepage-content {
    color: #fff;
    text-align: center;
}
